body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    cursor: crosshair;
}

h3{
    font-size: 10rem;
    color: #333;
    text-shadow: 0 0 10px #333;
}
.bubble{
    
   position: absolute;
    align-items: center;
    background: rgba(255, 155, 0, 0.6);
    border-radius: 50%;

    opacity: 0;
    animation: anim 8s forwards;
    filter: hue-rotate(0deg);
}

@keyframes anim{
    to{
        top : -255px;
        left :var(--left);
        opacity: 1;
        filter: hue-rotate(720deg);
    }
}